h1 {
    color: red;
}
table, th, td {
    border: 1px solid black;
}
#top {
    background-color: #ff6699;
}
#bottom {
    background-color: #ff0066;
}
ul {
    background-color: yellow;
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
}